@import "yunohost";

/* YunoSite specific */

body {
    background-color: $lightGrey;
}

#addButton {
    margin: 24px 67px 0 0;
    @media screen and (max-width: 1120px) {
        margin: 24px 0 24px 20px;
    }
    @media screen and (max-width: 820px) {
        display: block;
        margin-top: 0;
    }
}

@media screen and (max-width: 820px) {
    .large-10.list {
        width: 100%;
    }
}

#container {
    padding-top: 20px ;
}

