@import "yunohost";

/* YunoSite specific */

div#container {
    background: $whaite;
    div.whitebox.stroked {
        margin-top: 20px;
        p {
            margin-top: 20px;
        }
    }
    @media screen and (min-width: 790px) {
        p.epic {
            padding-left: 20px;
        }
        div.triplette {
            div.large-4:first-child {
                padding-left: 0;
            }
            div.large-4:last-child {
                padding-right: 0;
            }
        }
    }
}

#top-bar-container {
}

.upperStrong{
    text-transform: uppercase;
    font-weight: 700;
}

#addButton {
    @include colorbox($grey);
    width: 50px;
    height: 50px;
    margin: 20px;
}

#container {
    padding-top: 20px ;
}

